@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


@media screen and (min-width: 768px) and (max-width: 1350px) {
  .my-clients {
    &__title {
      font-size: 80px;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__text {
      font-size: 13px;
    }
  }
  .about {
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      width: 100vw;
      height: 991px;
      background-image: url(../img/main-pic/about-sec/about-sec-img.png);
      background-repeat: no-repeat;
      display: block;
      background-size: cover;
      background-position: center center;
    }

    &__list {
      margin: 0;
      max-width: 100%;
      padding: 40px 0;
    }

    &__title {
      text-align: center;
      margin-bottom: 40px;
      font-size: 120px;
    }
  }
}



@media screen and (min-width: 290px) and (max-width: 460px) {
    .contact {
    margin-bottom: 22px;

    & > .container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      font-size: 50px;
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__text {
      font-size: 20px;
    }

    &__link {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .footer {
    margin-bottom: 20px;

    & > .container {
      flex-direction: column;
      gap: 20px;
    }

    &__title {
      font-size: 12px;

      &-bold {
        font-size: 12px;
      }
    }
  }
  .my-clients {
    padding-bottom: 30px;

    &__list {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
      padding: 40px 0;

      &:nth-child(-n + 2),
      &:nth-child(n + 4):nth-child(-n + 5) {
        border-right: none;
        border-bottom: 1px solid $light-black-color;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    &__title {
      font-size: 40px;
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 20px;
      width: 100%;
      max-width: 100%;
    }

    &__text {
      font-size: 8px;
      max-width: 100%;
      width: 100%;
    }
  }
  .about {
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      width: 100vw;
      height: 478px;
      background-image: url(../img/main-pic/about-sec/about-sec-img.png);
      background-repeat: no-repeat;
      display: block;
      background-size: cover;
      background-position: center center;
    }

    &__list {
      margin: 0;
      max-width: 100%;
      padding: 40px 0;
    }

    &__title {
      text-align: center;
      margin-bottom: 40px;
      font-size: 50px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__item {
      text-align: center;
      &:nth-child(2) > .about__subtitle,
      &:nth-child(3) > .about__subtitle,
      &:nth-child(4) > .about__subtitle,
      &:nth-child(5) > .about__subtitle {
        &::before {
          font-size: 20px;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
.contact {
    & > .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    &__title {
      font-size: 120px;
    }

    &__subtitle {
      font-size: 50px;
    }

    &__text {
      font-size: 28px;
    }

    &__link {
      display: flex;
      align-self: center;
    }
  }
}

@media screen and (min-width: 460px) and (max-width: 768px) {
  .contact {
    & > .container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      font-size: 80px;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__text {
      font-size: 25px;
    }

    &__link {
      display: flex;
      align-self: center;
    }
  }
  .my-clients {
    padding-bottom: 30px;

    &__list {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      //width: 100%;
      padding: 40px 0;

      &:nth-child(-n + 2),
      &:nth-child(n + 4):nth-child(-n + 5) {
        border-right: none;
        border-bottom: 1px solid $light-black-color;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    &__title {
      font-size: 50px;
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 20px;
      width: 100%;
      //max-width: 100%;
    }

    &__text {
      font-size: 8px;
      //max-width: 100%;
      width: 100%;
    }
  }
  .about {
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      width: 100vw;
      height: 478px;
      background-image: url(../img/main-pic/about-sec/about-sec-img.png);
      background-repeat: no-repeat;
      display: block;
      background-size: cover;
      background-position: center center;
    }

    &__list {
      margin: 0;
      max-width: 100%;
      padding: 40px 0;
    }

    &__title {
      text-align: center;
      margin-bottom: 40px;
      font-size: 80px;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__item {
      &:nth-child(2) > .about__subtitle,
      &:nth-child(3) > .about__subtitle,
      &:nth-child(4) > .about__subtitle,
      &:nth-child(5) > .about__subtitle {
        &::before {
          font-size: 30px;
        }
      }
    }
    &__text {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1650px) {
  .contact {
    & > .container {
      display: flex;
      gap: 40px;
    }

    &__title {
      font-size: 120px;
    }

    &__subtitle {
      font-size: 40px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .my-clients {
    padding-bottom: 30px;

    &__list {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
      padding: 40px 0;

      &:nth-child(-n + 2),
      &:nth-child(n + 4):nth-child(-n + 5) {
        border-right: none;
        border-bottom: 1px solid $light-black-color;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    &__subtitle {
      width: 100%;
      max-width: 100%;
    }

    &__text {
      max-width: 100%;
      width: 100%;
    }
  }
}

