<footer class="footer">
        <div class="container">
                <h3 class="footer__title">&copy; Made by <span class="footer__title-bold">Kunturi Design.</span> All
                        rights reserved.</h3>
                <nav class="footer__nav-menu">
                        <ul class="footer__list">
                                <li class="footer__item"><a class="footer__link" href="#facebook"><img
                                                        src="./img/icons/team-facebook.png" alt="Facebook link"
                                                        width="30" height="30"></a></li>
                                <li class="footer__item"><a class="footer__link" href="#twitter"><img
                                                        src="./img/icons/team-twitter.png" alt="Facebook link"
                                                        width="30" height="30"></a></li>
                                <li class="footer__item"><a class="footer__link" href="#linkedin"><img
                                                        src="./img/icons/team-linkedin.png" alt="Facebook link"
                                                        width="30" height="30"></a></li>
                                <li class="footer__item"><a class="footer__link" href="#dribble"><img
                                                        src="./img/icons/team-dribble.png" alt="Facebook link"
                                                        width="30" height="30"></a></li>
                        </ul>
                </nav>
        </div>
</footer>