
<main class="main">

    <section class="about">
        <div class="container">
            <ul class="about__list">
                <li class="about__item">
                    <h2 class="about__title">What I do</h2>
                </li>
                <li class="about__item">
                    <h3 class="about__subtitle">Digital Design</h3>
                    <p class="about__text">I craft captivating digital designs that captivate and motivate your
                        audience.
                        Allow me to
                        breathe life into your brand with my expertise.</p>
                </li>
                <li class="about__item">
                    <h3 class="about__subtitle">Art Direction</h3>
                    <p class="about__text">My proficiency in art direction guarantees that your project aligns with your
                        brand, conveys your
                        message effectively, and is visually striking. Let's collaborate to narrate your story.</p>
                </li>

                <li class="about__item">
                    <h3 class="about__subtitle">Interaction Design</h3>
                    <p class="about__text">I have a specialization in creating user experiences that are not only
                        functional but also
                        aesthetically pleasing and user-friendly.</p>
                </li>
                <li class="about__item">
                    <h3 class="about__subtitle">Motion Design</h3>
                    <p class="about__text">From dynamic logos to informative explainer videos, I infuse life into your
                        message through
                        visually mesmerizing motion design.</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="my-clients">
        <div class="container">
            <h2 class="my-clients__title">My clients</h2>
            <nav class="my-clients__nav">
                <ul class="my-clients__list">
                    <li class="my-clients__item">
                        <img class="my-clients__logo" src="./img/main-pic/brands-sec/logoipsum-ico-2.svg"
                            alt="logoipsum" width="181" ; height="36">
                        <h3 class="my-clients__subtitle">Exceptional Web and Digital Design That Exceeded
                            Expectations</h3>
                        <p class="my-clients__text">Our website redesign and digital transformation went above and
                            beyond our wildest dreams.
                            Dianne's attention to detail, creativity, and unmatched design skills resulted in a visually
                            stunning and user-friendly online presence that left us in awe.</p>
                        <figure class="my-clients__figure">
                            <img src="./img/main-pic/clients-sec/annette.png" alt="Photo Annette Black">
                            <figcaption class="my-clients__figcap">
                                <p class="my-clients__name">Annette Black</p>
                                <p class="my-clients__profession">Marketing Coordinator</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="my-clients__item">
                        <img class="my-clients__logo" src="./img/main-pic/brands-sec/logoipsum-ico-1.svg"
                            alt="logoipsum" width="150" ; height="36">
                        <h3 class="my-clients__subtitle">Art Direction that
                            Perfectly Captured Our Essence</h3>
                        <p class="my-clients__text">Collaborating with Dianne on our art direction was an absolute
                            delight. He not only listened to our ideas but also infused his own creativity into the mix,
                            resulting in a visual brand identity that flawlessly encapsulated our essence.</p>
                        <figure class="my-clients__figure">
                            <img src="./img/main-pic/clients-sec/ralph.png" alt="Photo Ralph Edwards">
                            <figcaption class="my-clients__figcap">
                                <p class="my-clients__name">Ralph Edwards</p>
                                <p class="my-clients__profession">Software Development Manager</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="my-clients__item">
                        <img class="my-clients__logo" src="./img/main-pic/brands-sec/logoipsum-ico-4.svg"
                            alt="logoipsum" width="152" ; height="34">
                        <h3 class="my-clients__subtitle">Interaction Design Expertise that Delivered Beyond Measure</h3>
                        <p class="my-clients__text">Dianne's expertise in interaction design elevated our app to new
                            heights of user-friendliness and intuitiveness. His meticulous approach and imaginative
                            thinking led to a product that far exceeded our expectations.</p>
                        <figure class="my-clients__figure">
                            <img src="./img/main-pic/clients-sec/jacob.png" alt="Photo Jacob Jones">
                            <figcaption class="my-clients__figcap">
                                <p class="my-clients__name">Jacob Jones</p>
                                <p class="my-clients__profession">Scrum Master</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="my-clients__item">
                        <img class="my-clients__logo" src="./img/main-pic/brands-sec/logoipsum-ico-5.svg"
                            alt="logoipsum" width="174" ; height="35">
                        <h3 class="my-clients__subtitle">Captivating Motion Design that Breathed Life into Our
                            Brand</h3>
                        <p class="my-clients__text">Dianne's mastery of motion design is nothing short of extraordinary.
                            With his stunning animations, he breathed life into our brand, leaving our audience
                            thoroughly captivated.</p>
                        <figure class="my-clients__figure">
                            <img src="./img/main-pic/clients-sec/cameron.png" alt="Photo Cameron Williamson">
                            <figcaption class="my-clients__figcap">
                                <p class="my-clients__name">Cameron Williamson</p>
                                <p class="my-clients__profession">Software Tester</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="my-clients__item">
                        <img class="my-clients__logo" src="./img/main-pic/brands-sec/logoipsum-ico-6.svg"
                            alt="logoipsum" width="84" ; height="40">
                        <h3 class="my-clients__subtitle">Dianne Delivered a Website that Truly Showcases Our
                            Business</h3>
                        <p class="my-clients__text">Dianne's web design prowess has given us a website that not only
                            showcases our business but does so in a highly professional and user-friendly manner. We
                            couldn't be more thrilled with the final result.</p>
                        <figure class="my-clients__figure">
                            <img src="./img/main-pic/clients-sec/eleanor.png" alt="Photo Eleanor Penak">
                            <figcaption class="my-clients__figcap">
                                <p class="my-clients__name">Eleanor Pena</p>
                                <p class="my-clients__profession">Software Developer</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="my-clients__item">
                        <img class="my-clients__logo" src="./img/main-pic/brands-sec/logoipsum-ico-7.svg"
                            alt="logoipsum" width="150" ; height="35">
                        <h3 class="my-clients__subtitle">Dianne Delivers a Business-Showcasing Website</h3>
                        <p class="my-clients__text">Dianne's mastery of web design has given our brand a vibrant new
                            lease on life. With precision and creativity, she transformed our vision into a website that
                            truly sets us apart from the competition.</p>
                        <figure class="my-clients__figure">
                            <img src="./img/main-pic/clients-sec/courtney.png" alt="Photo Courtney Henry">
                            <figcaption class="my-clients__figcap">
                                <p class="my-clients__name">Courtney Henry</p>
                                <p class="my-clients__profession">Software Development Manager</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </nav>

        </div>
    </section>

    <section class="contact">
        <div class="container">
            <h2 class="contact__title">Contact</h2>
            <article class="contact__article">
                <h3 class="contact__subtitle">Let's start building your brand's unique story together.</h3>
                <p class="contact__text">Want to see what a difference a strong brand can make? Request a
                    consultation
                    today.</p>
                <a class="contact__link">Get in touch</a>
            </article>
        </div>
    </section>

</main>