.footer {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 33px;

  & > .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  &__title {
    @include gilroy-font($light-black-color, 18px, 400);
    &-bold{
     font-weight: 600;
    }
  }

  &__nav-men {
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
  }

}