.about {
  display: flex;
  border-bottom: 1px solid $light-black-color;
  margin-bottom: 3.125rem;
  & > .container {
    display: flex;
  }

  &::before {
    content: "";
    width: 100vw;
    height: auto;
    background-image: url(../img/main-pic/about-sec/about-sec-img.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center center;
  }

  &__title {
    @include gilroy-font($light-black-color, 150px, 300);
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 4.375rem 0 4.375rem 6.9375rem;
    max-width: 768px;
  }

  &__item {
    &:not(:first-child):not(:last-child) {
      padding-bottom: 40px;
      border-bottom: 1px solid $light-black-color;
      margin-bottom: 40px;
    }
    @include list-numbers;
  }

  &__subtitle {
    @include gilroy-font($light-black-color, 44px, 600, 110%);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    @include inter-font($light-black-color, 22px, 300, 140%);
  }
}

.my-clients {
  display: flex;
  padding: 70px 0px;
  padding-bottom: 6.25rem;
  border-bottom: 1px solid $light-black-color;
  margin-bottom: 3.125rem;

  &__title {
    @include gilroy-font($light-black-color, 212px, 300);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    @include list-lines;
  }

  &__subtitle {
    @include gilroy-font($light-black-color, 34px, bold);
    //max-width: 490px;
  }

  &__text {
    @include inter-font($black-color, 20px, 400);
    line-height: 150%; /* 150% */
    //max-width: 490px;
  }

  &__name {
    @include inter-font($black-color, 20px, 500);
  }

  &__figure {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: auto;
    margin-bottom: 30px;
  }

  &__figcap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.contact {
  padding-bottom: 3.125rem;
  border-bottom: 1px solid $light-black-color;
  margin-bottom: 25px;

  & > .container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include gilroy-font($light-black-color, 155px, 300);
    text-transform: uppercase;
    margin-bottom: 3.125rem;
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 860px;
  }

  &__subtitle {
    @include gilroy-font($light-black-color, 64px, bold);
    text-transform: uppercase;
  }

  &__text {
    @include gilroy-font($light-black-color, 34px, 400);
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 3.125rem;
    align-self: flex-start;
    background: #252525;
    @include gilroy-font($white-color, 1.125rem, 400);
    text-transform: capitalize;
    @include discover-arrow;
  }
}
